{% extends 'base.html' %}

{% block content %}


<h3 class="display-3">This is a main page</h3>

{% if request.user.is_authenticated %}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="feature col">
        <form action="{% url 'add_cv' %}">
            <button class="btn btn-primary btn-lg">Add new CV</button>
        </form>
    </div>

    <div class="feature col">
        <form action="{% url 'cvs' %}">
            <button class="btn btn-primary btn-lg">Check my CVs</button>
        </form>
    </div>

</div>

{% endif %}

{% endblock %}
