<head>
    <meta charset="UTF-8">
</head>
<body>

<h2>
    Name :
</h2>
<p>{{cv.first_name}}</p>

<h2>
    Last name :
</h2>
<p>{{cv.last_name}}</p>

<h2>
    Age :
</h2>
<p>{{cv.age}}</p>

<h2>
    City :
</h2>
<p>{{cv.city}}</p>

<h2>
    Post :
</h2>
<p>{{cv.post}}</p>

<h2>
    Working experience in months :
</h2>
<p>{{cv.experience}}</p>

<h2>
    Education :
</h2>
<p>{{cv.education}}</p>

<h2>
    Key skills :
</h2>
<p>{{cv.key_skills}}</p>

<h2>
    Languages :
</h2>
<p>{{cv.languages}}</p>

</body>
</html>